.grid {
    position: relative;
}

.grid-item {
    position: absolute;
}

.grid-item.moving {
    z-index: z-index + 1;
}

.placeholder {
    position: absolute;
}

div.grid {
    border: 1px solid lightblue;
}

div.grid-item {
    border: 1px solid lightgrey;  
}

.grid-item .title{
    border-bottom: 1px solid darkgray;
    background-color: lightskyblue;  
}

.grid-item p{
    background-color: lightgoldenrodyellow;
}